<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Joel Ayala</h2>
            <h4>ayala2@mail.com</h4>
        </div>
        <img src="https://www.tuplanweb.com/proyecto/Plantilla/img/user/edwin.jpg" alt="Foto de perfil">
    </div>

    <mat-divider></mat-divider>
    <br>
    <h2 matSubheader>Paginas</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>&nbsp;Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/events">
        <mat-icon>calendar_today</mat-icon>&nbsp;Eventos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/beacons">
        <mat-icon>room</mat-icon>&nbsp;Salas
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
        <mat-icon>supervisor_account</mat-icon>&nbsp;Usuarios
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/profile">
        <mat-icon>person</mat-icon>&nbsp;Perfil
    </a>
    <mat-divider></mat-divider>
    <br>
    <h2 matSubheader>Herramientas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>&nbsp;Contactos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>&nbsp;Anotaciones
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/about">
        <mat-icon>help</mat-icon>&nbsp;Acerca de
    </a>
</mat-nav-list>