.edit-event-container{
	display: flex;
	flex-direction: column;
	width: 800px;
	form{
		margin-bottom: 20px;
		input.mat-flat-button{
			width: 100%;
			background: #4f9ca5;
			&:hover{
				background: #368f99;
			}
		}
		.container-button{
			min-height: 80px;
			input.mat-flat-button{
				color: #ffff;
				width: 50%;
			}
		}
		.mat-form-field{
			width: 100%;
			font-size: 17px;
		}
		.textArea{
			height: 8em;
			width: 100%;
		}
	}
}
.siglas-fecha{
	width: 100%;
	display: flex;
	justify-content: center;
	.siglas{
		width: 45%;
		margin-right: auto;
	}
	.fecha{
		width: 45%;
	}
}
