<meta charset="utf-8">
<div class="new-event-container">
	<form [formGroup]="newEventForm" (ngSubmit)="addNewSubEvent(newEventForm.value)" (ngSubmit)="resetForm()">
		<mat-form-field>
			<mat-label>Titulo</mat-label>
			<input matInput placeholder="Titulo" formControlName="title">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Siglas</mat-label>
			<input matInput placeholder="Siglas" formControlName="siglas">
		</mat-form-field>
		<!--Fecha-->
		<mat-form-field>
			<mat-label>Elija una fecha</mat-label>
			<input matInput [matDatepicker]="picker" formControlName="dateselect">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		  </mat-form-field>
		  <!--Descripción-->
		<mat-form-field appearance="fill">
			<mat-label>Descripción</mat-label>
			<textarea matInput formControlName="descrip" placeholder="Descripción"></textarea>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Sala</mat-label>
			<mat-select formControlName="sala">
				<mat-option *ngFor="let beacon of Listbeacons" [value]="beacon.id">
					{{beacon.sala}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Tópicos</mat-label>
			<mat-select [formControl]="topicos" multiple>
				<mat-option *ngFor="let topico of topicosList" [value]="topico">{{topico}}</mat-option>
			</mat-select>
		</mat-form-field>
		<div class="container-button">
			<input type="submit" class="mat-flat-button" value="Registrar" [mat-dialog-close]="true">
		</div>
	</form>
</div>
