.container{
	margin-top: 25px;
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-column-gap: 10px;
	grid-row: 15px;
	justify-content: center;
	.event-card{
		background-color:#EEE8AA;
		border-radius: 5px;
		padding: 20px;
		font-size: 150%;
	}
}
.stats-cards {
	.mat-card {
	  overflow: hidden;
	}
  }
  
  table {
	width: 100%;
  }